/* ========================================================================
     Component: media-queries
 ========================================================================== */
/* ========================================================================
   Component: layout
 ========================================================================== */
body,
.wrapper > section {
  background-color: #f5f7fa; }

.wrapper > .aside {
  background-color: #fff; }

/* ========================================================================
   Component: top-navbar
 ========================================================================== */
.topnavbar {
  background-color: #fff; }
  .topnavbar .navbar-header {
    background-color: transparent;
    background-image: -webkit-linear-gradient(left, #6c2aa4 0%, #ca7538 100%);
    background-image: -o-linear-gradient(left, #6c2aa4 0%, #ca7538 100%);
    background-image: linear-gradient(to right, #6c2aa4 0%, #ca7538 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF6C2AA4', endColorstr='#FFCA7538', GradientType=1); }
    @media only screen and (min-width: 768px) {
      .topnavbar .navbar-header {
        background-image: none; } }
  .topnavbar .navbar-nav > li > .navbar-text {
    color: #6c2aa4; }
  .topnavbar .navbar-nav > li > a,
  .topnavbar .navbar-nav > .open > a {
    color: #6c2aa4; }
    .topnavbar .navbar-nav > li > a:hover, .topnavbar .navbar-nav > li > a:focus,
    .topnavbar .navbar-nav > .open > a:hover,
    .topnavbar .navbar-nav > .open > a:focus {
      color: #371553; }
  .topnavbar .navbar-nav > .active > a, .topnavbar .navbar-nav > .active > a:hover, .topnavbar .navbar-nav > .active > a:focus,
  .topnavbar .navbar-nav > .open > a,
  .topnavbar .navbar-nav > .open > a:hover,
  .topnavbar .navbar-nav > .open > a:focus {
    background-color: transparent; }
  .topnavbar .navbar-nav > li > [data-toggle='navbar-search'] {
    color: #fff; }
  .topnavbar .nav-wrapper {
    background-color: #6c2aa4;
    background-image: -webkit-linear-gradient(left, #6c2aa4 0%, #ca7538 100%);
    background-image: -o-linear-gradient(left, #6c2aa4 0%, #ca7538 100%);
    background-image: linear-gradient(to right, #6c2aa4 0%, #ca7538 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF6C2AA4', endColorstr='#FFCA7538', GradientType=1); }

@media only screen and (min-width: 768px) {
  .topnavbar {
    background-color: #6c2aa4;
    background-image: -webkit-linear-gradient(left, #6c2aa4 0%, #ca7538 100%);
    background-image: -o-linear-gradient(left, #6c2aa4 0%, #ca7538 100%);
    background-image: linear-gradient(to right, #6c2aa4 0%, #ca7538 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF6C2AA4', endColorstr='#FFCA7538', GradientType=1); }
    .topnavbar .navbar-nav > .open > a, .topnavbar .navbar-nav > .open > a:hover, .topnavbar .navbar-nav > .open > a:focus {
      box-shadow: 0 -3px 0 rgba(255, 255, 255, 0.5) inset; }
    .topnavbar .navbar-nav > li > .navbar-text {
      color: #fff; }
    .topnavbar .navbar-nav > li > a,
    .topnavbar .navbar-nav > .open > a {
      color: #fff; }
      .topnavbar .navbar-nav > li > a:hover, .topnavbar .navbar-nav > li > a:focus,
      .topnavbar .navbar-nav > .open > a:hover,
      .topnavbar .navbar-nav > .open > a:focus {
        color: #371553; } }

/* ========================================================================
   Component: sidebar
 ========================================================================== */
.sidebar {
  background-color: #fff; }
  .sidebar .nav-heading {
    color: #919DA8; }
  .sidebar .nav > li > a,
  .sidebar .nav > li > .nav-item {
    color: #515253; }
    .sidebar .nav > li > a:focus, .sidebar .nav > li > a:hover,
    .sidebar .nav > li > .nav-item:focus,
    .sidebar .nav > li > .nav-item:hover {
      color: #6c2aa4; }
    .sidebar .nav > li > a > em,
    .sidebar .nav > li > .nav-item > em {
      color: inherits; }
  .sidebar .nav > li.active,
  .sidebar .nav > li.active > a,
  .sidebar .nav > li.active .nav, .sidebar .nav > li.open,
  .sidebar .nav > li.open > a,
  .sidebar .nav > li.open .nav {
    background-color: #fcfcfc;
    color: #6c2aa4; }
  .sidebar .nav > li.active > a > em, .sidebar .nav > li.open > a > em {
    color: #6c2aa4; }
  .sidebar .nav > li.active {
    border-left-color: #6c2aa4; }

.sidebar-subnav {
  background-color: #fff; }
  .sidebar-subnav > .sidebar-subnav-header {
    color: #515253; }
  .sidebar-subnav > li > a,
  .sidebar-subnav > li > .nav-item {
    color: #515253; }
    .sidebar-subnav > li > a:focus, .sidebar-subnav > li > a:hover,
    .sidebar-subnav > li > .nav-item:focus,
    .sidebar-subnav > li > .nav-item:hover {
      color: #6c2aa4; }
  .sidebar-subnav > li.active > a,
  .sidebar-subnav > li.active > .nav-item {
    color: #6c2aa4; }
    .sidebar-subnav > li.active > a:after,
    .sidebar-subnav > li.active > .nav-item:after {
      border-color: #6c2aa4;
      background-color: #6c2aa4; }

/* ========================================================================
   Component: offsidebar
 ========================================================================== */
.offsidebar {
  border-left: 1px solid greyscale(#cccccc);
  background-color: #fff;
  color: #515253; }

/* ========================================================================
   Component: Buttons
 ==========================================================================*/
.btn-primary {
  background: #ff9900;
  border-color: #ff9900; }
  .btn-primary:hover, .btn-primary:focus {
    background: #ff9900;
    border-color: #ff9900; }
  .btn-primary:active, .btn-primary:active:hover {
    background: #ff9900;
    border-color: #ff9900; }

.btn-danger {
  background: #db4437;
  border-color: #db4437; }
  .btn-danger:hover, .btn-danger:focus {
    background: #db4437;
    border-color: #db4437; }
  .btn-danger:active, .btn-danger:active:hover {
    background: #db4437;
    border-color: #db4437; }

.btn-purple {
  background: #9c27b0;
  border-color: #9c27b0;
  color: #FFF; }
  .btn-purple:hover, .btn-purple:focus {
    background: #9c27b0;
    border-color: #9c27b0;
    color: #FFF; }
  .btn-purple:active, .btn-purple:active:hover {
    background: #9c27b0;
    border-color: #9c27b0;
    color: #FFF; }

.btn-pink {
  background: #e91e63;
  border-color: #e91e63;
  color: #FFF; }
  .btn-pink:hover, .btn-pink:focus {
    background: #e91e63;
    border-color: #e91e63;
    color: #FFF; }
  .btn-pink:active, .btn-pink:active:hover {
    background: #e91e63;
    border-color: #e91e63;
    color: #FFF; }

.btn-red {
  background: #db4437;
  border-color: #db4437;
  color: #FFF; }
  .btn-red:hover, .btn-red:focus {
    background: #db4437;
    border-color: #db4437;
    color: #FFF; }
  .btn-red:active, .btn-red:active:hover {
    background: #db4437;
    border-color: #db4437;
    color: #FFF; }

/* =========================================================================
   Colors
 */
.bg-purple-custom {
  background: #9c27b0;
  color: #FFFFFF; }

.bg-pink-custom {
  background: #e91e63;
  color: #FFFFFF; }

.bg-red-custom {
  background: #db4437;
  color: #FFFFFF; }

.bg-orange-custom {
  background: #ff9900;
  color: #FFFFFF; }

.bg-gradient {
  background-color: transparent;
  background-image: -webkit-linear-gradient(left, #6c2aa4 0%, #ca7538 100%);
  background-image: -o-linear-gradient(left, #6c2aa4 0%, #ca7538 100%);
  background-image: linear-gradient(to right, #6c2aa4 0%, #ca7538 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF6C2AA4', endColorstr='#FFCA7538', GradientType=1);
  color: #FFFFFF; }

::selection {
  background: #9c27b0;
  color: #FFF; }
