/* ========================================================================
     Component: typo
 ========================================================================== */
 
@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,400italic);
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i');

body {
  /*font-family: "Source Sans Pro", sans-serif;*/
  font-family: "PT Sans", sans-serif;
  color: #656565;
}

h1, h2, h3, h4 {
  font-weight: bold;
}
