.payment-dialog {
  min-width: 710px;
}

.pay_button {
  margin-right: 6px;
}

.g-recaptcha > div {
  margin: 0 auto;
}

/*
  Referral Table Styles
 */
.referral-table .referral-table {
  display: none;
}

.referral-table .referral-table table {
  background: none;
}

.referral-table table td {
  cursor: pointer;
}

.referral-table .referral-table table td {
  border-top: none;
}

.referral-table table tr.ref td .fa.arrow::before {
  content: "\f107";
}

.referral-table table tr.ref.open td .fa.arrow::before {
  content: "\f106";
}

.referral-table.parent > .tbody > .row {
  cursor: pointer;
}

/*
  Custom Styles
 */
.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
  background: #6c2aa4;
  border-color: #6c2aa4;
}

.wrapper > footer {
  background: #161d27;
  color: #b7b7b7;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background: #6c2aa4;
  border-color: #6c2aa4;
}